.app {
  font-family: 'Roboto', sans-serif;
}

.appContent {
  padding-left: 240px;
}
.heading {
  font-weight: 700;
}
.subheading {
  font-weight: 300;
}

.leaflet-container {
  width: 100%;
  height: 100%;
}